div {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative; /*define position for box motion*/
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 3000ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
img {
    width: 100%;
    height: 100%;
}
@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: violet;
        left: 200px;
        top: 200px;
    } 
    75% {
        background-color: yellow;
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: cyan;
        left: 0px;
        top: 0px;
    }
}